body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
}

.logo {
    padding-left: 50px;
    max-width: 100%;
}

.navlist {
    display: flex;
}

.navlist li {
    list-style: none;
    text-decoration: none;
    padding: 26px 30px;
    font-family: Google Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

button {
    padding: 5px 15px;
    display: flex;
    margin-right: 20%;
}