* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 7px;
  padding-left: 140px;
  padding-right: 110px;
  justify-content: flex-start;
  height: 10vh;
  width: 80vw;
}

.logo {
  width: 114.91px;
  height: 33.99px;
  cursor: pointer;
  padding-right: 130px;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #212832;
  font-size: 17px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 500px;
}

.nav-item a {
  flex: 1;
  padding: 15px 0px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #212832;
}

a button {
  border-radius: 5px;
  padding: 8px;
  height: 40px;
  width: 102px;
  border: 1px solid;
  background-color: white;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
}

a .login {
  padding-left: 400px;
}


/* Hero style */
.cover-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80vw;
  height: 85vh;
  background-color: white;
  padding: 0px 110px 22px 140px;

}

/* Group of items in the hero */
.hero-content {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 85vh;
  position: relative;
}

/* The left side of the page */
.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  height: 76vh;
}

.desc .hero-subheader {
  color: #DF6951;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 65px;
  padding-bottom: 13px;

}

.desc .decore {
  width: 385px;
  height: 12px;
  left: 212px;
  top: 192px;
  position: absolute;

}

.desc .hero-header {
  color: #181E4B;
  font-family: Volkhov;
  font-size: 69px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1.36px;
  z-index: 1;
}

.desc .hero-text {
  color: #5E6282;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  width: 477px;
  word-wrap: break-word;
  padding-top: 13px;
}

.Cta {
  display: flex;
  width: 379px;
  height: 60px;
  border-radius: 10px;
  padding-top: 15px;
  justify-content: flex-start;
  align-items: center;
  gap: 46px;
}

.Cta button {
  /* width: 170px; */
  width: 142px;
  height: 45px;
  border-radius: 10px;
  background-color: #F1A501;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  color: #FFF;
  text-align: center;
  font-family: Poppins, Google Sans;
  font-size: 15px;
  font-weight: 500;
  border: none;
}


.Cta .play-demo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 696px;
  left: 362px;
  width: 148px;
  height: 42px;
}


.play-demobox .fa-circle-play {
  font-size: 42px;
  color: #df6951;
  box-shadow: 0px 10px 35px 0px #e6ab9e;
  border-radius: 50%;
}

.play-demo p {
  color: #686D77;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 500;
}

/* The right side of the page */
.aside-box {
  width: 50%;
  left: 320px;
  height: 85vh;
  position: absolute;
}

.aside-box img {
  width: 650px;
  height: 565px;
}