body,
h1,
h2,
.text__section > p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 47px;
}

#Logo {
  width: 114.912px;
  height: 33.994px;
  flex-shrink: 0;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 75px;
}

.nav-items a {
  color: #212832;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.nav-items a:active {
  background-color: #df6951;
  color: white;
}

.nav-items a:visited {
  color: #f1a50126;
}

.nav-items a:hover {
  color: white;
  background-color: #df6951;
  padding: 15px;
  border-radius: 10px;
}

.nav-items button {
  width: 102px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #212832;
  color: #212832;
  background-color: white;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
}

.text__section {
  display: grid;
  gap: 30px;
}

.text__section h2 {
  color: #df6951;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.hero__text {
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
  width: 545px;
  font-family: "Volkhov";
  color: #181e4b;
}

.text__section p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6282;
  width: 477px;
  height: 90px;
}

.decor {
  position: relative;
  display: inline-block;
}

.decor img {
  position: absolute;
  width: 385px;
  height: 12px;
  top: 80%;
  left: -30px;
}

.decor .text {
  position: relative;
  z-index: 1;
}

.btn {
  background-color: #f1a501;
  box-shadow: 0px 20px 35px 0px #f1a50126;
  color: #ffffff;
  border-radius: 10px;
  width: 170px;
  height: 60px;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
}
.btn:hover {
  width: 190px;
  height: 80px;
}

.elipse {
  background-color: #df6951;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-shadow: 0px 15px 30px 0px #df69514d;
  position: relative;
}

.triangle {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 15px solid #ffffff;
  transform: rotate(-90deg);
  z-index: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 379px;
}

.demo {
  width: 92px;
  color: #686d77;
}

.buttons span {
  font-family: poppins;
  font-weight: 500;
  align-self: center;
}
