body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  .hero-section {
    padding-right: 25px;
    padding-left: 25px;
    width: 80%;
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: "Volkhov";
    margin-left: 100px;
  }

  #top a {
    font-family: "Poppins";
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;
    color: #212832;
    line-height: 22px;
    font-weight: 500;
  }

  .btn {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #212832;
    margin-left: auto;
  }
  
  #introduction  {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 40px;
    padding-bottom: 10px;
  }
  
  .image {
    position: absolute;
    margin-left: 615px;
    z-index: 1;
    margin-top: -80px;
    padding-top: 70px;
  }

  .hero {
    width: 50%;
    height: 60vh;
    padding: 10px;
    margin-left: 148px;
  }

  h3, h2, p {
    margin-bottom: 8px; 
  }
  
  h3{
    color:  #DF6951;
    font-family: "Poppins";
    text-transform: uppercase;
    font-size: 20px; 
    margin-top: 84px;
  }

  .decor{
    position: absolute;
    margin-top: 65px;
    margin-left: -250px;
  }

  h2 {
    font-family: "Volkhov";
    font-size: 80px;
    color: #181E4B;
    font-weight: 700;
    line-height: 79px;
    padding-right: 30px;
    margin-top: 25px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    color: #5e6282;
    max-width: 500px;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    color: #5e6282;
    line-height: 1.7;
  }
  
  .button-container {
    display: flex; 
    align-items: center; 
  }  

  .contact-button {
    background-color: #F1A501;
    padding: 13px 20px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    top: 25px;
    text-decoration: none;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    width: 170px;
    box-shadow: #F1A501 15%;
    border: none;
    margin-right: 50px;
    color: #fff;
  }
  
  .play-demo {
    font-family: "Poppins";
    background-color: #ffffff;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    color: #686D77;
    width: 170px;
    border: none;
    padding: 11px 21px;
    align-items: center;
    
  }
  
  .demo-img {
    display: flex;
    position: absolute;
    border-radius: 10px;
    margin-left: -90px;
    margin-top: -25px;
    margin-right: -30px;
    padding-left: 14px;
    max-width: 200px;
  }
  
  @media screen and (max-width:789px) {
    body {
      background-color: #ffffff;
    }
    nav {
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        margin-right: 0px;
    }

    .btn {
        width: 40px;
        background-color: #DF6951;
        padding: 4px 10px;
    }
    .image{
      max-width: 1px;
      flex: 1;
      margin-left: 0px;
      position: static;
      padding-bottom: 40px;
      justify-content: center;
    }
    .hero{
        width: 100%;
        margin-left: 180px;
        justify-content: center;
        text-align: center;
    }
    h3{
        margin-bottom: 0px;
        display: flex;
    }
    h2  {
        font-size: 50px;
        
    }
    #top a {
        display: inline;
        padding-right: 10px;
        margin-left: 30px;
    }
    .decor {
        margin-left: -190px;
    }
}
