body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  
.container {
  width: 100%;
  height: 100vh;
  padding: 47px 110px 42px 140.92px;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

.nav-item {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;

}

ul {
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-right: 60px;

}

ul li {
  text-decoration: none;

}

ul li a {
  text-decoration: none;
  color: #212832;
  padding: 30px;
  font-family: 'poppins';
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;

}

.logo{
  width: 80px;
  height: 33.994px;
  flex-shrink: 0;
  color: #000000;
}

.btn {
  width: 102px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #212832;
  background-color: #fff;
}

.heading {
  color: #DF6951;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 410px;
  height: 30px;
  margin-top: 200px;
}


.hero-content-travel {
  color: var(--1st, #181E4B);
  font-family: Volkhov;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 89px;
  /* 105.952% */
  letter-spacing: -3.36px;
  margin-top: 24px;
  margin-bottom: -10px;
  width: 545px;
  position: relative;
  z-index: 2;
}


.enjoy-img {
  width: 385px;
  height: 12px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  top: -190px;
  left: 240px;
}


.hero-description {
  width: 477px;
  color: #5E6282;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
  word-wrap: break-word;
  /* 187.5% */
}


.CTA-button {
  display: flex;
  align-items: center;
}


.find-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white, #FFF);
  text-align: center;
  font-family: Google Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 140px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--yellow, #F1A501);
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
}


.play-button {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 15px;
}


.play-demo-text {
  color: var(--text-color, #686D77);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: -7px;
}


.lady-img {
  position: absolute;
  top: 110px;
  left: 70rem;
}
  
.lady-img img {
  width: 765px;
  height: 764px;
}