@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Volkhov:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
}


#header-nav{
    margin: 5px auto 0;
    padding: 15px 15px 0;
    width: 85%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


#header-nav .header_logo{
    width: 115px;
    height: 34px;
    flex-shrink: 0;
}


#header-nav .header-nav_menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 80px;
}


#header-nav .header-nav_menu li a{
    color: #212832;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.header-nav_button{
    width: 102px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #212832;
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}


.hero-section{
    width: 85%;
    margin: 0 auto;
    display: flex;
    gap: 0px;
    align-items: center;
}


.hero-section_content{
    width: fit-content;
    flex: 1;
}


.hero-section_content h5{
    color: #df6951;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.hero-section_content h2{
    color: #181e4b;
    font-family: 'Volkhov', serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: -6.36px;
    margin-top: 2px ;
    margin-bottom: 2px ;
    position: relative;
}


.hero-section_content img{
    z-index: -1;
    position: absolute;
    top: 350px;
    left: 310px;
}


.hero-section_content-text p{
    color: #5E6282;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 477px;
    letter-spacing: -1;
}


.hero-section_content-cta{
    display: flex;
    align-items: center;
    gap: 35px;
}


.hero-section_content-cta #find-out-more{
    width: 170px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #f1a501;
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    border: none;
    
    font-size: 18px;
    line-height: normal;
    font-style: normal;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


.hero-section_content-cta .play{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #df6951 ;
    color: white;
    border: none;
    box-shadow: 0px 20px 35px 20px rgba(	248, 221, 215, 0.9);
    
}


.hero-section_content-cta .play svg{
    fill:#fff ;
    width: 15px;
}


.hero-section_content-cta p{
    color: #686d77 ;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.hero-section_image img{
    width: 650px;
    height: 764px;
    flex-shrink:0 ;
}