body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.overall-container {
  max-width: 1200px;
  padding: 25px;
  background: fff;
  margin: 0 auto;
}
/* .logo {
  z-index: 999;
  margin-left: 20px;
  width: 114.912px;
  height: 33.994px;
  flex-shrink: 0;
  padding: 0;
  top: 48.7px;
  left: 140.92px;
  margin-top: -10px;
} */
ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;

  /* position: fixed;
  padding: 0;
  margin-left: 400px;
  margin-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  width: 1200px;
  z-index: 100; */
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul li {
  color: #212832;
  font-family: Noto Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}
.nav-6 {
  border: 1px solid #212832;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px 10px;
}
.main-container {
  display: flex;
  align-items: center;
  align-items: center;
}
.text-1 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  color: #df6951;
}
.text-2 {
  color: #03243b;
  font-family: Volkhov;
  font-size: 84px;
  font-weight: 700;
  line-height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.text-3 {
  color: #5e6282;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.enjoy-underline {
  position: relative;
}
.underline-img {
  position: absolute;
  left: 450px;
  bottom: 365px;
  z-index: -1;
}
.flex {
  display: flex;
  align-items: center;
  width: 100%;
}
.content {
  width: 50%;
}
